<?xml version="1.0"?>
<!--
/**
 * @copyright makn3tiza_
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="payulatam" frontName="payulatam">
            <module name="makn3tiza_Payulatam" />
        </route>
    </router>
</config>